# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/
.ENV/
yoloenv/

# Dataset and large data files
dataset/
yolo_dataset/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and local files
*.log
.DS_Store
